.services {
    width: 100%;
    text-align: center;
    padding: 2rem 5rem;
}

.service-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .services {
        padding: 2rem 2rem;
    }

    .service-icons {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 600px) {
    .services {
        padding: 1rem;
    }

    .service-icons {
        gap: 1.5rem;
    }
}
