.service {
    background-color: #444444;
    padding: 1rem;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    transition: transform 0.3s;
}

.service .icono {
    color: #FE6A01;
    margin-bottom: 0.5rem;
}

.service p {
    font-size: 1.2rem;
    color: #f0f0f0;
}

.service:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .service {
        padding: 0.8rem;
        width: 100%;
    }

    .service .icono {
        font-size: 2rem; /* Reducción del tamaño en mobile */
    }

    .service p {
        font-size: 1rem;
    }
}
